{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block app_css %}
    <link rel="stylesheet" type="text/css" href={% static "users/css/login.css" %}>
{% endblock app_css %}

{% block content %}

<div class="container my-bg">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Sudah punya akun ? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div> 
{% endblock content %}
